In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib as mpl
import numpy as np
import seaborn as sns

%matplotlib inline

df = pd.read_csv('atussum_0321.csv', header='infer')
df = df.drop(columns=['GEMETSTA','TEMJOT','TUFNWGTP','TU20FWGT'])

df.head(1)

,TUCASEID,GTMETSTA,PEEDUCA,PEHSPNON,PTDTRACE,TEAGE,TELFS,TESCHENR,TESCHLVL,TESEX,...,t181801,t181899,t189999,t500101,t500103,t500104,t500105,t500106,t500107,t509989
0,20030100013280,-1,44,2,2,60,2,-1,-1,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
import numpy as np
df = np.nan

In [13]:
import numpy as np
df = df.rename(columns={'GTMETSTA': 'MetStat', 'TEAGE': 'Age', 'TESEX': 'Sex', 'TRCHILDNUM': 'ChildNum', 'PEEDUCA': 'EduStat', 'PEHSPNON': 'Hisp', 'PTDTRACE': 'Race', 'TELFS': 'LaborStat', 'TESCHENR': 'IsStudying', 'TESCHLVL': 'SchoolLevel', 'TESPEMPNOT': 'IsSpouseEmpl', 'TRSPFTPT': 'SpouseEmplTime', 'TRDPFTPT': 'SelfEmplTime', 'TRERNWA': 'Earnings', 'TRSPPRES': 'HasSpouse', 'TRYHHCHILD': 'YoungestChildAge', 'TEHRUSLT': 'HoursWorked'})

#categorize as per age - derived
def ageCondition(x):
    if x > 15 and x < 20: return "Teenage"
    elif x >= 20 and x < 40: return "Young"
    elif x >= 40 and x < 60: return "Adult"
    elif x >= 60 and x < 85: return "Senior Citizen"
    else np.nan
df['AgeGrp'] = df['Age'].apply(ageCondition)

def sexCondition(x):
    if x == 1: return "M"
    elif x == 2: return "F"
    else np.nan
df['SexGrp'] = df['Sex'].apply(sexCondition)

def metStatCondition(x):
    if x == 1: return "Metro"
    elif x == 2: return "NonMetro"
    else np.nan
df['MetroGrp'] = df['MetStat'].apply(metStatCondition)

def eduCondtion(x):
    if x >=31 and x <= 36: return "10th grade"
    if x > 36 and x <= 40: return "High School"
    if x > 40 and x <= 42: return "Associate"
    if x == 43: return "Bachelors"
    if x == 44: return "Masters"
    if x > 44 and x <= 46: return "MD/PhD"
    else np.nan
df['EduGrp'] = df['EduStat'].apply(eduCondtion)    

def hispanicCondtion(x):
    if x == 1: return "Hispanic"
    elif x == 2: return "Non-Hispanic"
    else np.nan
df['HispGrp'] = df['Hisp'].apply(hispanicCondtion)    

def raceCondition(x):
    if x == 1: return "White"
    if x == 2: return "Blacks"
    if x == 4: return "Asians"
    else np.nan
df['RaceGrp'] = df['Race'].apply(raceCondition)

def laborCondition(x):
    if x == 1 or x == 2: return "Employed"
    elif x == 3 or x == 4 "Unemployed"
    else np.nan
df['LaborGrp'] = df['LaborStat'].apply(laborCondition)

def schoolCondition(x):
    if x == 1: return "Y"
    elif x == 2: return "N"
    else np.nan
df['IsStudyGrp'] = df['IsStudying'].apply(schoolCondition)    
    
def schoolLevelCondition(x):
    if x == 1: return "H School"
    elif x == 2:return "College/University"
    else np.nan
df['SchoolLevelGrp'] = df['SchoolLevel'].apply(studyLevelCondition)

def hasSpouseCondition(x):
    if x == 1 or x == 2: return "Y"
    elif x == 3: return "N"
    else np.nan
df['SpousePresentGrp'] = df['HasSpouse'].apply(hasSpouseCondition)

def spouseEmployedCondition(x):
    if x == "1": return "Y"
    elif x == 2: return "N"
    else np.nan
df['SpouseEmplGr'] = df['SpouseEmpl'].apply(spouseEmployedCondition)

def employmentTimeCondition(x):
    if x == 1: return "FT"
    elif x == 2: return "PT"
    else np.nan
df['SelfEmplTimeGrp'] = df['SelfEmplTime'].apply(employmentTimeCondition)
df['SpouseEmplTimeGrp'] = df['SpouseEmplTime'].apply(employmentTimeCondition)

def childrenCondition(x):
    if x == 0: return "None"
    elif x > 0 and x <= 2: return "1-2 children"
    elif x > 2 and x <= 4: return "3-4 children"
    elif x >4 and x <= 30: return ">5 children"
    else np.nan
df['ChildNumGrp'] = df['ChildNum'].apply(childrenCondition)

def youngestChildAgeCondition(x):
    if x >= 0 and x <= 3: return "Baby"
    elif x > 3 and x <= 8: return "Kid"
    elif x > 8 and x <= 13: return "GrownKid"
    elif x > 13 and x <= 17: return "Teen"
    else np.nan
df['YChildAgeGrp'] = df['YoungestChildAge'].apply(youngestChildAgeCondition)

def earningsCondition(x):
    if x > 0 and x <=50000: return "Low Income"
    elif x > 50000 and x <= 100000: return "Low Middle Class"
    elif x > 100000 and x <= 150000: return "High Middle Class"
    elif x > 150000: return "High Income"
    else np.nan
df['EarningsGrp'] = df['Earnings'].apply(earningsCondition)    
    
    
# defining categorical columns
df['AgeGrp'] = pd.Categorical(df['AgeGrp'], 
                                           categories=['Teenage', 'Young', 'Adult', 'Senior Citizen'])
df['SexGrp'] = pd.Categorical(df['SexGrp'], 
                                           categories=['M', 'F'])
df['MetroGrp'] = pd.Categorical(df['MetroGrp'], 
                                           categories=['Metro', 'NonMetro'])
df['EduGrp'] = pd.Categorical(df['EduGrp'], 
                                           categories=['10th grade', 'High School', 'Associate', 'Bachelors', 'Masters', 'MD/PhD'])
df['HispGrp'] = pd.Categorical(df['HispGrp'], 
                                           categories=['Hispanic', 'Non-Hispanic'])
df['RaceGrp'] = pd.Categorical(df['RaceGroup'], 
                                           categories=['White', 'Blacks', 'Asians'])
df['LaborGrp'] = pd.Categorical(df['LaborGroup'], 
                                           categories=['Employed', 'Unemployed'])
df['IsStudyGrp'] = pd.Categorical(df['IsStudyGrp'], 
                                           categories=['Y', 'N'])
df['SchoolLevelGrp'] = pd.Categorical(df['Study LevelGrp'], 
                                           categories=['H School', 'College/University'])
df['SpousePresentGrp'] = pd.Categorical(df['SpousePresentGrp'], 
                                           categories=['Y', 'N'])
df['SpouseEmplGrp'] = pd.Categorical(df['SpouseEmplTimeGrp'], 
                                           categories=['Y', 'N'])
df['SpouseEmplTimeGrp'] = pd.Categorical(df['SpouseEmplTimeGrp'], 
                                           categories=['FT', 'PT'])
df['SelfEmplTimeGrp'] = pd.Categorical(df['SelfEmplTimeGrp'], 
                                           categories=['FT', 'PT'])
df['ChildNumGrp'] = pd.Categorical(df['ChildNumGrp'], 
                                           categories=['None', '1-2 children', '3-4 children', '>5 children'])
df['YChildAgeGrp'] = pd.Categorical(df['YChildAgeGrp'], 
                                           categories=['Baby', 'Kid', 'Grown Kid', 'Teen'])
df['EarningsGrp'] = pd.Categorical(df['EarningsGrp'], 
                                           categories=['Low Income', 'Low Middle Class', 'High Middle Class', 'High Income'])

df.head(10)

SyntaxError: invalid syntax (2093086105.py, line 10)